body
{
    background-color:#cdcdcd;
    height: 100%;
    width:100%;
    position: absolute;
    overflow: hidden;
}

.hidden
{
    display: none;
}

#container
{
    position:relative;
    background-color:black;
    border-radius:10px;
    width:600px;
    height: 340px;
    top:50%;
    margin:auto;
    margin-top:-220px;
}

#bando
{
    position: absolute;
    z-index:1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom:3px solid orange;
}

#pano
{
    position: absolute;
    top:115px;
    z-index:1;
    margin-top:-12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

#log
{
    position: relative;
    left:75px;
    top:70px;
    z-index:2;
    height: 200px;
    width:450px;
    background-color:rgba(205,205,205,0.7);
    border-radius: 50px;
    padding:15px;
}

#log form
{
    position: relative;
    width:350px;
    height:150px;
    top:20px;
    padding-top:40px;
    margin:auto;
    /*border: 1px solid black;*/
}

label.left
{
    float: left;
    width:180px;
    margin-bottom: 15px;
}

#pseudo,#mdp
{
    margin-bottom: 15px;
}

form input[type='submit']
{
    text-align: center;
    position: relative;
    width: 80px;
    top:10px;
    left:135px;
}

#mess_error
{
    color:tomato;
}